<div class="jumbotron">
	<div class="title">Mongo Scraper</div>
	<div class="home">Home</div>
	<div class="saved">Saved</div>
	<div class="scraped">Scrape</div>
	<div class="col-md-3"></div>
</div>

<div class="header-area"></div>

<div class="articles-area">
  <div id="articles"></div>
  <div id="notes"></div>
</div>

